@component-namespace cs {
    @component tab-container {
      overflow: hidden;
      position: relative;

      @descendent wrap {
        display: flex;
        @when tabbar{
          padding-bottom: toRem(60*1.8);
        }
      }

      .swipe-transition {
        transition: transform 150ms ease-in-out;
      }
    }
  }