.login {
    background: #bfe196;
    .cs-contenter {
        position: relative;
        .cs-contenter__loginPanel {
            position: absolute;
            width: 80%;
            height: toRem(790);
            display: inline-block;
            vertical-align: middle;
            top: 50%;
            margin-top: toRem(-395);
            margin-left: 10%;
        }
        .cs-contenter__loginPanel__container {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
        .cs-contenter__loginPanel__logo {
            height: toRem(220);
            text-align: center;
            img {
                width: toRem(500);
                height: toRem(85);
            }
        }
        input,
        .cs-button {
            margin: toRem(20) 0;
        }
        input {
            padding: toRem(35) toRem(35) toRem(35) toRem(105);
            border: none;
            display: block;
        }
    }
    .cs-footer {
        a,
        p {
            line-height: 2;
        }
    }
}