.fade-enter-active {
    transition: opacity $_animate_time ease-out;
    z-index: 2;
}

.fade-enter,
{
    opacity: 0;
    z-index: 2;
}

.fade-leave-active {
    transition: opacity $_animate_time ease-in;
    opacity: 0;
}

.fade-leave,
{
    opacity: 1;
}