.right-in-out-enter-active {
    transition: transform .2s ease-out;
    z-index: 2
}

.right-in-out-leave-active {
    transition: transform .2s ease-in;
    z-index: 1;
}

.right-in-out-leave-active,
.right-in-out-enter {
    transform: translate3d(100%, 0, 0)
}

.right-in-out-enter-active,
.right-in-out-leave,
{
    transform: translate3d(0, 0, 0)
}