.slide-left-enter-active {
    transform: translate3d(0, 0, 0);
    transition: transform $_animate_time ease-out;
}

.slide-left-enter {
    transform: translate3d(-50%, 0, 0)
}

.slide-left-leave-active {
    transform: translate3d(-50%, 0, 0);
    transition: transform $_animate_time ease-out;
}

.slide-left-leave {
    transform: translate3d(0, 0, 0)
}