.slide-bottom-enter-active {
    transform: translate3d(0, 0, 0);
    transition: transform $_animate_time ease-out;
    z-index: 2;
}

.slide-bottom-enter {
    transform: translate3d(0, 100%, 0)
}

.slide-bottom-leave-active {
    transition: opacity $_animate_time ease-in;
    opacity: 0;
    z-index: 1;
}

.slide-bottom-leave {
    opacity: 1;
}