html,
body {
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: none;
}
.section-container{
    padding: toRem(30);
    &.tb{
        padding: toRem(30) 0 toRem(30) 0;
    }
    &.lr{
        padding: 0 toRem(30) 0 toRem(30);
    }
}
@import './business/demo';
@import './business/login';
@import './business/main';